<div class="d-md-flex">
  <div
    class="bg-white z-1 h-fit overflow-auto position-sticky top-0 px-4 pt-lg-1 pt-1 border-end flex-md-column justify-content-md-start flex-md-nowrap gap-md-0 d-flex justify-content-around flex-wrap gap-3"
  >
    <h6
      class="cursor-pointer text-center my-lg-1 rounded-2 py-md-3 py-1 mb-0"
      [routerLink]="['/create-building']"
    >
      New <br class="d-md-block d-none" />
      Building
    </h6>
    <button
      class="border-0 bg-white cursor-pointer text-center my-lg-1 rounded-2 py-md-3 py-1 mb-0"
      *ngFor="let item of navs; let ind = index"
      [class.fw-bolder]="selectedIndex === ind"
      (click)="move(ind)"
    >
      {{ item.name }}
    </button>
  </div>
  <div class="container py-lg-4 py-md-3 py-2">
    @if (building) {
    <h3 class="text-center mb-4">
      {{ (selectedIndex == 8 ? "Energy " : "") + navs[selectedIndex].name }}
    </h3>
    <ng-container [ngSwitch]="selectedIndex">
      <app-about
        [input]="building.about"
        (update)="updateBuilding($event)"
        [buildingId]="buildingId"
        [buildingType]="buildingType"
        (move)="move($event)"
        *ngSwitchCase="0"
      ></app-about>
      <app-zone-roof
        (update)="updateBuilding($event)"
        [input]="building.zoneRoof"
        [buildingId]="buildingId"
        [buildingType]="buildingType"
        [footPrint]="footPrint"
        (move)="move($event)"
        *ngSwitchCase="1"
      ></app-zone-roof>
      <app-zone-floor
        [input]="building.zoneFloor"
        (update)="updateBuilding($event)"
        [buildingId]="buildingId"
        [buildingType]="buildingType"
        (move)="move($event)"
        *ngSwitchCase="2"
        [footPrint]="footPrint"
        [totalRoofArea]="totalRoofArea"
      ></app-zone-floor>
      <app-zone-wall
        [input]="building.zoneWall"
        [buildingId]="buildingId"
        [buildingType]="buildingType"
        (update)="updateBuilding($event)"
        (move)="move($event)"
        *ngSwitchCase="3"
      ></app-zone-wall>
      <app-zone-window
        [input]="building.zoneWindow"
        [buildingId]="buildingId"
        [buildingType]="buildingType"
        [windowsAvailable]="windowsAvailable"
        (update)="updateBuilding($event)"
        (move)="move($event)"
        *ngSwitchCase="4"
      ></app-zone-window>
      <app-heating-cooling-system
        [input]="building.heatingCoolingSystem"
        (update)="updateBuilding($event)"
        [buildingId]="buildingId"
        (move)="move($event)"
        *ngSwitchCase="5"
        [roofType1]="roofType1"
        [roofType2]="roofType2"
        [floorType1]="floorType1"
        [floorType2]="floorType2"
      ></app-heating-cooling-system>
      <app-water-heating-system
        [input]="building.waterHeater"
        [buildingId]="buildingId"
        [hasBoiler]="hasBoiler"
        (update)="updateBuilding($event)"
        (move)="move($event)"
        *ngSwitchCase="6"
      ></app-water-heating-system>
      <app-pv-system
        [input]="building.pvSystem"
        [buildingId]="buildingId"
        (update)="updateBuilding($event)"
        (move)="move($event)"
        *ngSwitchCase="7"
      ></app-pv-system>
      <app-energy-star
        [input]="building.energyStar"
        [buildingId]="buildingId"
        (update)="updateBuilding($event)"
        (move)="move($event)"
        *ngSwitchCase="8"
      >
      </app-energy-star>
      <app-summary
        [input]="building"
        [buildingId]="buildingId"
        *ngSwitchCase="9"
      ></app-summary>
    </ng-container>
    <app-print-hpxml [buildingId]="this.buildingId"></app-print-hpxml>
    } @else {
    <h3>Building not selected...</h3>
    }
  </div>
</div>
