<div class="d-flex justify-content-around pb-3 border-bottom mb-3">
  <h6
    class="cursor-pointer text-center"
    (click)="navigateTo('hvac-heat-cool')"
    [routerLink]="['hvac-heat-cool']"
  >
    HAVC Heating&Cooling System
  </h6>
  <h6
    class="cursor-pointer text-center"
    (click)="navigateTo('water-heating-system')"
    [routerLink]="['water-heating-system']"
  >
    Water Heating System
  </h6>
  <h6
    class="cursor-pointer text-center"
    (click)="navigateTo('pv-system')"
    [routerLink]="['pv-system']"
  >
    PV System
  </h6>
</div>
<router-outlet></router-outlet>
