<section class="waterHeater-section">
  <div class="container">
    <form [formGroup]="waterHeaterForm">
      <div class="row">
        <div class="col-md-6">
          <div class="select-box">
            <label> Water Heater Type</label>
            <ng-select
              [items]="waterHeaterTypeOptions"
              bindLabel="name"
              [clearable]="true"
              [closeOnSelect]="true"
              bindValue="value"
              placeholder="Water Heater Type"
              id="waterHeaterType"
              formControlName="waterHeaterType"
            >
            </ng-select>
            <div
              class="errormsg"
              *ngIf="
                (waterHeaterControl['waterHeaterType']?.touched ||
                  waterHeaterControl['waterHeaterType']?.dirty) &&
                waterHeaterControl['waterHeaterType']?.invalid
              "
            >
              <label class="text-danger fw-semibold position-absolute">
                Water Heater Type is invalid
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="select-box">
            <label> Know Water Heater Energy Factor</label>
            <ng-select
              [items]="booleanOptions"
              bindLabel="name"
              [clearable]="true"
              [closeOnSelect]="true"
              bindValue="value"
              placeholder="Know Water Heater Energy Factor"
              id="knowWaterHeaterEnergyFactor"
              formControlName="knowWaterHeaterEnergyFactor"
            >
            </ng-select>
            <div
              class="errormsg"
              *ngIf="
                (waterHeaterControl['knowWaterHeaterEnergyFactor']?.touched ||
                  waterHeaterControl['knowWaterHeaterEnergyFactor']?.dirty) &&
                waterHeaterControl['knowWaterHeaterEnergyFactor']?.invalid
              "
            >
              <label class="text-danger fw-semibold position-absolute">
                Know Water Heater Energy Factor is invalid
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="select-box">
            <label> Unit</label>
            <ng-select
              [items]="unitOptions"
              bindLabel="name"
              [clearable]="true"
              [closeOnSelect]="true"
              bindValue="value"
              placeholder="Unit"
              id="unit"
              formControlName="unit"
            >
            </ng-select>
            <div
              class="errormsg"
              *ngIf="
                (waterHeaterControl['unit']?.touched ||
                  waterHeaterControl['unit']?.dirty) &&
                waterHeaterControl['unit']?.invalid
              "
            >
              <label class="text-danger fw-semibold position-absolute">
                Unit is invalid
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-box">
            <label for="energyValue"> Energy Value </label>
            <input
              formControlName="energyValue"
              type="number"
              id="energyValue"
              placeholder="Energy Value"
            />
            <div
              class="errormsg"
              *ngIf="
                (waterHeaterControl['energyValue']?.touched ||
                  waterHeaterControl['energyValue']?.dirty) &&
                waterHeaterControl['energyValue']?.invalid
              "
            >
              <label
                for="energyValue"
                class="text-danger fw-semibold position-absolute"
              >
                Energy Value is invalid
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="input-box">
            <label for="yearOfManufacture"> Year Of Manufacture </label>
            <input
              formControlName="yearOfManufacture"
              type="number"
              id="yearOfManufacture"
              placeholder="Year Of Manufacture"
            />
            <div
              class="errormsg"
              *ngIf="
                (waterHeaterControl['yearOfManufacture']?.touched ||
                  waterHeaterControl['yearOfManufacture']?.dirty) &&
                waterHeaterControl['yearOfManufacture']?.invalid
              "
            >
              <label
                for="yearOfManufacture"
                class="text-danger fw-semibold position-absolute"
              >
                Year Of Manufacture is invalid
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end gap-3 mt-4">
        <button type="button" class="bg-primary btn-style" (click)="onSave()">
          {{ this.waterHeaterForm.value?.id ? "Update" : "Save" }}
        </button>
        <button type="button" class="bg-secondary btn-style" (click)="goNext()">
          Next
        </button>
      </div>
    </form>
    <app-print-hpxml [buildingId]="this.buildingId"></app-print-hpxml>
  </div>
</section>
